@font-face{ 
  font-family: alba;
  src:url(assets/Font/alba/ALBA____.TTF);}
  @font-face{
  font-family: navfont;
  src:url(assets/Font/arista-pro/Arista-Pro/Arista-Pro-Alternate-Light-trial.ttf);}
  @font-face {
    font-family: Para;
    src: url(assets/Font/arista-pro/Arista-Pro/Arista-Pro-Alternate-Light-trial.ttf);
  }
  @font-face {
    font-family: heading;
    src: url(assets/Font/arista-pro/Arista-Pro/Arista-Pro-Alternate-Bold-trial.ttf);
  }

*{
  margin: 0;

}
body{
    margin: 0px 0px;
    background-image: url(/Aravind-portfolio-v1/assets/Images/bgw.avif);
    background-repeat:no-repeat;
    background-size:cover;
    overflow-y: scroll;
  
} 
button{
  border-radius: 8px;
  filter: drop-shadow(0px 0px 8px black);
  margin: 10px;
  height: 30px;
  width: 30px;
  color: white;
  background-color: rgb(36, 36, 36);
  border: none;
  font-size: 30px;
}
button svg{
  filter: invert(1) sepia(0) saturate(20);
}
.Lmode{
  display:none;
  animation: opacitY 0.3s both ease;
}
.Dmode{
  animation: opacitY 0.3s both ease;
}

.mode{

  width: 50px;
  height: 50px;
}

/* animation appear */
/* Animations Keyframes */
@keyframes opacitY{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes appearX{
  from{
    opacity: 0;
    transform:translateX(-100%);
  }
  to{
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes rotate{
  from{
    transform:rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes appearXrt{
  from{
    opacity: 0;
    transform:translateX(100%);
  }
  to{
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes appearY{
  from{
    opacity: 0;
    transform:translateY(-100%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes appearYbtom{
  from{
    opacity: 0;
    transform:translateY(100%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes appearOpacity{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}



/* navigation */


.links-container{
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

nav a{
  color: rgb(255, 255, 255);
  height: 100%;
  text-align: center;
  padding: 0 30px;
  font-style: bold;
  font-weight: 1000;
  filter: drop-shadow(-10px 10px 10px rgb(255, 255, 255));
  display: flex;
  align-items: center;
  text-decoration: none;

}
nav a:hover{
  color: rgb(0, 68, 255);
  font-size: 20px;
  transition:0.5s ease-in;
  filter: drop-shadow(-10px 10px 5px rgb(46, 118, 219));
}
nav a:not(:hover){
  transition:0.5s ease-out;

}
body nav{
  font-family: navfont;
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  height: 70px;
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  position:fixed;
  transition:0.5s ease-out;
  z-index: 8;
  filter: drop-shadow(0px 0px 8px black);
}

.mode{
  position:relative;
  margin-left: 10px;
  right: 0;
}

nav .home-link{
  margin-right: auto;
}
nav svg{
  fill:black;
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}
@media(max-width: 500px){
  body{
    height: max-content;
  }
  
  .links-container{
    flex-direction: column;
    align-items: flex-start;
    height: min-content;
    position: fixed;
    top: 25%;
    right: -100%;
    z-index: 10;
    width: 200px;
    border-radius: 10px 0 0 10px;
    background-color: #9499a0f6;
    box-shadow: -5px 0 5px rgba(54, 54, 54, 0.25);
    transition: 0.75s ease-out;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button{
    margin: auto;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: -12%;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .cont{
    display: flex;
    text-align: center;
  }
}
/* navigation end */
/*------Scroll bar-------*/
/* width */
::-webkit-scrollbar {
  background-color:transparent;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#252525;
  margin-right: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(48, 47, 47); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #252525; 
}
::-webkit-scrollbar-thumb{
  color: darkslategrey;
}


/*-------Footer---------*/
footer{
  background-color:black;
  height:80px;
}
.footer-heading{
  padding-top: 10px;
  font-family:Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:rgb(255, 255, 255);
}
.social-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}
.icons{
  display: inline;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.icons:hover{
  filter: invert(0) sepia(1) saturate(20) hue-rotate(93.6deg) brightness(1.2);
}
@media(max-width:500px){/*-------Footer---------*/
  
  .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .icons{
    display: inline;
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
  .icons:hover{
    filter: invert(0) sepia(1) saturate(20) hue-rotate(93.6deg) brightness(1.2);
  }}
