#buyme{
  padding-top: 200px;
  background-color: #f8f8f8de;
  height: 100vh;
  padding-top: 100px;
}

.card{
  display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: .5em;
    background-color: rgb(20, 20, 20);
    height: 15em;
    width: 25em;
    border-radius: 15px;
}
.card:hover{
  backdrop-filter: blur(1.5rem);
  filter:drop-shadow(4px 0px 10px rgb(22, 22, 22));
  transition: ease 0.4s;
}
.card:not(:hover){
    backdrop-filter: blur(1.5rem);
    filter:drop-shadow(4px 0px 10px rgb(255, 255, 255));
    transition: ease 0.4s;
}
.cardpic{
  padding-bottom: 10px;
  height: 3em;
  width: 4em;
}
h3{
  font-family: heading;
  color: azure;
  padding-left: 1em;
  padding-bottom:1em;
}
.card-holder-name{
  color: azure;
  font-family:monospace;
  font-weight: 500;
  padding-bottom:3em;
  padding-left:.8em;
  
}

.upi-id{
  color: azure;
  font-family:Arial, Helvetica, sans-serif;
  padding-left: 1.2em;
  padding-bottom: 0em;
}
p#upid{
  color: azure;
  font-family:Arial, Helvetica, sans-serif;
  padding-left: 1.2em;

  font-size: small;
  height:3em;
}
.copy-btn{
  width: 10em;
  margin-left: 1.2em;
  color: aliceblue;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(36, 36, 36);
}
.copy-btn:active{
  color: black;
  background-color: rgb(255, 255, 255);
}
.card-name{
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: end;
  color: aliceblue;
  padding-right:.8em;
}
